$darkColor: #1C2C30;
$redColor: #B83941;
$veryLightColor: #F3F3F3;

$colors: (
  "darkColor": $darkColor,
  "redColor": $redColor,
  "veryLightColor": $veryLightColor,
);

$theme-colors: (
  "primary": $darkColor,
  "secondary": $redColor,
  "light": $veryLightColor,
);

body {
  font-family: 'Montserrat', sans-serif !important;
}

.main-header {
  position: relative;

  .headline {
    position: relative;
    z-index: 3;
  }

}

footer {
  img {
    filter: invert(99%) sepia(2%) saturate(259%) hue-rotate(81deg) brightness(117%) contrast(91%);
    

    
  }

  img:hover {
      filter: invert(27%) sepia(47%) saturate(2772%) hue-rotate(332deg) brightness(86%) contrast(82%);
    }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1C2C30;
  opacity: 0.90;
  z-index: 1;
}

.fill {
  height: 100vh;
}

.btn {
  border-radius: 0 !important;
}

// Typ-Writer-Effect
.react-rotating-text-cursor {
  animation: blinking-cursor 0.8s cubic-bezier(0.68, 0.01, 0.01, 0.99) 0s infinite;
}

@keyframes blinking-cursor {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


@media (max-width: 959px) {
  .fill {
    height: 50vh;
  }
}


@import './node_modules/bootstrap/scss/bootstrap'